<ion-item>
  
<ion-avatar style="width:50px;height:50px;margin:10px;margin-right:20px">
  <img *ngIf="!task.taskImage" alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  <img *ngIf="task.taskImage" alt="Person picture" [src]="task.taskImage" />
</ion-avatar>
  <ion-label>
    <h1>
    {{ task.taskName }}
    </h1>
    <h2>
    {{task.taskDescription}}
    </h2>
    <h3>
    {{task.taskDifficulty}}
    </h3>
    <h4>
    {{task.taskTimeInSecs}}
    </h4>
  </ion-label>
</ion-item>